{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Ficha Técnica - La Hermosa Parrilla</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="utf-8">
  </head>

  <body>
    <div class="container">
      <h1 role="banner">Ficha Técnica - La Hermosa Parrilla</h1>
      <div role="main" class="formularioLogin">
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <label for="login">Usuário:</label>
          <input type="text" role="textbox" name="usuario" id="login" required>
          <label for="senha">Senha:</label>
          <input type="password" role="textbox" name="senha" id="senha" required><br>
          <input class="botao" role="button" type="submit" value="Enviar">
        </form>
        {% if error_message %}
          <p class="senhaErrada" role="alert">{{ error_message }}</p>
        {% else %}
          <p class="senhaErrada" role="alert" style="display:none;">Usuário ou senha incorretos!</p>
        {% endif %}
      </div>
    </div>
  </body>
</html>

